@charset "UTF-8";




/* 헤더 */
header {padding: 10px 20px; display: flex; align-items: center; justify-content: space-between;}
header .logo-wrap {display: flex; align-items: center;}
header .logo {font-size: 0; width: 100px; height: 32px; background: url('../image/logo.svg') no-repeat center / contain;}
header .tab-switch {margin-left: 8px; display: flex; align-items: center; background-color: #eee; border-radius: 9999px;}
header .tab-switch button {padding: 4px 12px; border-radius: 9999px; font-size: 16px; color: #555; font-weight: 400; line-height: 24px; letter-spacing: -0.32px; background-color: #eee; }
header .tab-switch button.active {color: #fff; font-weight: 600; background-color: #3f58d4;}
header button.close {margin-left: 20px; font-size: 0; width: 24px; height: 24px; background: url('../image/ico24_close.svg') no-repeat center / contain;}


/* 섹션 - 유저 인포 박스 */
.user-info {padding: 25px 20px 32px;}
.user-info .login a {padding-right: 28px; position: relative; cursor: pointer; font-size: 20px; color: #111; font-weight: 600; letter-spacing: -0.4px; line-height: 30px;}
.user-info .login a::after {content: ''; position: absolute; width: 24px; height: 24px; right: 0; top: 50%; transform: translateY(-50%); background: url('../image/allmenu_right.svg') no-repeat center / contain;}
.user-info .logout {display: flex; align-items: center;}
.user-info .logout p {font-size: 20px; color: #111; font-weight: 600; line-height: 30px; letter-spacing: -0.4px;}
.user-info .logout a {margin-left: 16px; font-size: 14px; color: #757575; font-weight: 600; line-height: 24px; letter-spacing: -0.28px; text-decoration-line: underline; text-decoration-style: solid; text-decoration-skip-ink: none; text-underline-offset: 2px;}
.user-info .icon-menu {margin-top: 24px; display: grid; gap: 8px; grid-template-columns: repeat(4, 1fr); align-items: stretch; justify-items: center;}
.user-info .icon-menu li a {display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%; }
.user-info .icon-menu li a .ico {display: flex; justify-content: center; align-items: center; width: 48px; height: 48px; background-color: #f5f5f5; border-radius: 50%;}
.user-info .icon-menu li a p {margin-top: 8px; font-size: 14px; color: #333; font-weight:400; letter-spacing: -0.28px; line-height: 1.3; text-align: center; }


/* 전체메뉴 */
.menu-section {border-top: 8px solid #f3f5f6;}
.menu-section .accordion {border-bottom: 8px solid #f3f5f6; padding: 0 20px;}
.menu-section .accordion .menu-button {padding: 16px 0; position: relative; list-style: none;}
.menu-section .accordion .menu-button::-webkit-details-marker {display: none;}
.menu-section .accordion .menu-button span {padding-left: 24px; position: relative; font-size: 16px; color: #111; font-weight: 600; line-height: 24px; letter-spacing: -0.32px;}
.menu-section .accordion .menu-button span::before {content: ''; width: 16px; height: 16px; position: absolute; left: 0; top: 50%; transform: translateY(-50%); background-position: center; background-repeat: no-repeat; background-size: contain;}
.menu-section .accordion[open] .menu-button {border-bottom: 1px solid #eee; margin-bottom: 10px;}
.menu-section .accordion[open] .menu-button span {color: #3f58d4;}
.menu-section .accordion .menu-button::after {content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); background: url('../image/allmenu_down.svg') no-repeat center / contain; width: 16px; height: 16px;}
.menu-section .accordion[open]  .menu-button::after {transform: translateY(-50%); background: url('../image/allmenu_up.svg') no-repeat center / contain;}
.menu-section .accordion-content * {line-height: 24px; letter-spacing: -0.32px;}
.menu-section .accordion__section {border-bottom: 1px solid #eee; margin-bottom: 10px; padding-bottom: 10px;}
.menu-section .accordion__section:last-child {border-bottom: none; margin-bottom: 0;}
.menu-section .accordion__section.ul-none {margin-bottom: 0;}
.menu-section .accordion__section.ul-none+.ul-none {margin-top: 10px;}
.menu-section .accordion__section .acc-tit {width: 100%; display: block; padding: 10px 0; font-size: 16px; color: #333; font-weight: 600;}
.menu-section .accordion__section>ul>li {list-style: none; position: relative; padding: 0 24px 0 16px; font-size: 16px; color: #333; font-weight: 400;}
.menu-section .accordion__section>ul>li.li_link::after {content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 16px; height: 16px; background: url('../image/allmenu_link.svg') no-repeat center / contain;}
.menu-section .accordion__section>ul>li::before {content: ''; position: absolute; left: 5px; top: 19px; background-color: #ddd; width: 5px; height: 5px; border-radius: 50%;}
.menu-section .accordion__section>ul>li a {width: 100%; height: 100%; display: block; padding: 10px 0;}
.menu-section .accordion:first-child .accordion__section {padding-bottom: 0; border-bottom: none;}
.menu-section .accordion:first-child .fav-btn {display: flex; justify-content: center; align-items: center; margin-bottom: 20px; color: #3f58d4; font-weight: 400; font-size: 16px; line-height: 28px; border: 1px solid #3f58d4; width: 100%; text-align: center; border-radius: 4px; padding: 10px 16px;}

.menu-section .accordion:nth-child(1) .menu-button span::before {background-image: url('../image/allmenu_01.svg');}
.menu-section .accordion:nth-child(2) .menu-button span::before {background-image: url('../image/allmenu_02.svg');}
.menu-section .accordion:nth-child(3) .menu-button span::before {background-image: url('../image/allmenu_03.svg');}
.menu-section .accordion:nth-child(4) .menu-button span::before {background-image: url('../image/allmenu_04.svg');}
.menu-section .accordion:nth-child(5) .menu-button span::before {background-image: url('../image/allmenu_05.svg');}
.menu-section .accordion:nth-child(6) .menu-button span::before {background-image: url('../image/allmenu_06.svg');}
.menu-section .accordion:nth-child(7) .menu-button span::before {background-image: url('../image/allmenu_07.svg');}
.menu-section .accordion:nth-child(8) .menu-button span::before {background-image: url('../image/allmenu_08.svg');}
.menu-section .accordion:nth-child(9) .menu-button span::before {background-image: url('../image/allmenu_09.svg');}




/* 과업 성공 */
.succes-section {position: relative; box-sizing: border-box; width: 100%; height: 100%; margin: auto; padding: 20px; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;}
.succes-contents {position: absolute; left: 50%; top: 45%; transform: translate(-50%,-50%);}
.succes-section p {text-align: center; font-size: 24px; color: #111; font-weight: 600; line-height: 1.3;}
.succes-section img {width: 100%; height: 100%; object-fit: contain; margin-top: 20px;}
.succes-section a {text-align: center; background-color: #3f58d4; color: #fff; font-weight: 600; width: 100%; padding: 10px; border-radius: 4px;}


/* 팝업 오픈버튼 */
.btn_pop_open {border: 1px solid #3f58d4; background-color: #3f58d4; color: #fff; font-weight: 500; border-radius: 4px; text-align: center; padding: 10px; margin-top: 25px;}
